**/.ipynb_checkpoints
**/__pycache__
*.png
*.mp4
*.gif
*.ply
*.npy
*.npz
*.dae
data/*
nerf/logs/*
siren/data/*
siren/logs/*
pi_GAN/data/*
pi_GAN/logs/*
pi_GAN/nerf_test/*
pi_GAN/gan_test/*
.vscode/
.idea/
nerf_python/
siren-master/